@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@100&display=swap');

*{
    color: azure;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color:black ;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}

.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu .logo{
    font-weight: 800;
    font-size: 25px;
    color:white ;

}
.menu .navbar ul li{
    position: relative;
    float: left;
    color: white;
}
.menu .navbar ul li a {


    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
}


.menu .navbar ul li a:hover{
    color: white;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
    color: white;
}

.menu label{
    cursor: pointer;
    display: flex;
}

.header-content{
    display: flex;
    align-items: center;
    margin-top: 150px;
}

.heder-1{
    width: 50%;
}

.heder-1 h1 {
    font-size: 55px;
    font-weight: 800;
    color: white;
    margin-bottom: 15px;
}

.heder-1 p{
    font-size: 18px;
    color: white;
}
#image-face{
    width: 2em;
}

#image-ig {
    width: 2em;
}


#image-wpp {
    width: 2em;
}

element.style {
    width: 5em;
}
element.style {
    width: 5em;
}
