.navigate-button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgb(117, 84, 179);
  color: rgb(117, 84, 179);
  display: block;
  width: 100%;
  max-width: 90vw;
  min-width: 17.6rem;
  margin: 0 auto;
  padding: 1.3rem 2rem 1.2rem 2rem;
  line-height: 18.78px;
  border-radius: 2.3rem;
  font-weight: 700;
  font-size: 1.6rem;
  outline: none;
  text-align: center;
  transition: all 150ms ease-in-out;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  white-space: nowrap;
  letter-spacing: 0.05em;
  &:hover {
    background-color: rgb(117, 84, 179);
    color: #fff;
    box-shadow: 0px 0px 8px 0px rgb(144, 123, 181);
  }
}

@media screen and (min-width: 699px) {
  .navigate-button {
    content: "sasasaa";
  }
}
